@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide-in {
    opacity: 0;
    animation: slideInFromLeft 1s ease forwards;
  }
  
  .animate-slide-in-1 {
    animation-delay: 0.5s;
  }
  
  .animate-slide-in-2 {
    animation-delay: 1s;
  }
  
  .animate-slide-in-3 {
    animation-delay: 1.5s;
  }
  
  .animate-slide-in-4 {
    animation-delay: 2s;
  }
  